.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef;
  }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
  }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef;
  }
  
  .floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
  }
  
  .floating-label-form-group-with-focus label {
    color: #1abc9c;
  }
  
  form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef;
  }
  #sendMessageButton{
    background-color: #1abc9c;
    border: 0ch;
    width: 100px;
    margin: 20px;
    padding: 20px;

  }
  .font-style{
    font-size: 4.5rem;
    color: #2c3e50;
  }