<div class="home vh-100 style d-flex justify-content-center align-items-center flex-column">

    <img src="../../assets/avataaars.svg" class="img-style" alt="">
    <h1 class="text-white mt-3">START ANGULAR</h1>
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <h4 class="text-white fs-3">Graphic Artist - Web Designer - Illustrator</h4>

</div>
